@font-face {
  font-family: poppinsBold;
  src: url(../pages/assets/Poppins-Bold.ttf);
}

@font-face {
  font-family: latoBold;
  src: url(../pages/assets/Lato-Bold.ttf);
}



.sidebar {
  /* position: absolute; */
  background: #FFFFFF;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.25);
  height: 100%;
  /* width: 296px */
}

.lodgn {
  
  width: 100%;
  height: 43px;
 
  margin-top: 15%;
  margin-bottom: 15%;
  padding-left: 5%;

  font-family: latoBold;
  font-style: italic;
  font-weight: 800;
  font-size: 35.4809px;
  line-height: 43px;
  color: #323232;
}

.current, .Ongoing, .Previous ,.Reports{
  cursor: pointer;
  padding-left: 5%;
  width: 85%;
  height: 40px;
  /* left: 19px; */

  border-bottom: 1px solid rgba(0, 0, 0, 0.29);
  /* font-family: 'Poppins'; */
  font-family: poppinsBold;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: -0.02em;
  
  color: #494949;
}

.current {


  color: #72AA83;

}

.Ongoing {
 
  color: #494949;
  
}

.Previous {
 
  color: #494949;
}

.Reports {

  color: #494949;
}

.logout {
  
  width: 80%;
  height: 50px;
  margin-top: 90%;
  margin-bottom: -90%;
  /* margin-left: 30%; */
  /* left: 10%;
  top: 75%; */
  border: none;
  color: #FFFFFF;
  background-color: #48AF78;
  font-weight: 600;
  font-family: poppinsBold;

  background: linear-gradient(180deg, #48AF78 0%, #42996B 100%);
  border-radius: 10px;
}

.helpdesk {
 
  width: 80%;
  height: 21px;
margin-top: 30px;

  text-align: center;

  font-family: latoBold;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  line-height: 21px;
  letter-spacing: -0.07em;

  color: #494949;

}

.helpno {
 
  width: 80%;
  height: 21px;
  margin-bottom: 40%;
 

  font-family: latoBold;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* line-height: 21px; */
  letter-spacing: -0.07em;

  color: #494949;
}

.request {
 
  width: 100%;
  
  height: 33px;
 
  font-family: poppinsBold;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 43px;
  /* identical to box height */

  letter-spacing: -0.02em;

  color: #72AA83;
}
.inpur:focus{
  border: 1px soldi blue;
  
}


.rectone {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  
  width: 100%;
  height: 75px;
  margin-top: 15px;
  
}
.rectonemain{
  box-sizing: border-box;
  
  width: 80%;
  height: 175px;
  margin-top: 15px;
  margin-left: 40px;
  padding-left: 10px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0 30px;
}
.recttwomain{
  box-sizing: border-box;
  width: 80%;
  /* height: 426px; */
  border-radius: 34px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 40px;
  padding-left: 10px;
  background: #FFFFFF;
  padding: 0 30px;
  border: 1px solid #FFFFFF;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);

}
.rectoneheading {
 
  height: 35px;
 

  font-family: latoBold;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  /* line-height: 35px; */
  letter-spacing: -0.015em;

  color: #48AF78;

}

.rectoneheadingdash {
  height: 45px;
 
  margin-left: 5%;
  
  font-family: latoBold;
  font-style: normal;
  font-weight: 700;
  font-size: 29.3972px;
  /* line-height: 35px; */
  letter-spacing: -0.015em;

  color: #48AF78;
}

.rectonep {
  
  
  height: 20px;
  padding: 5px;
  font-family: latoBold;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  letter-spacing: -0.005em;

  color: #959595;
}

.rectonepp {
  
  width: 30px;
  height: 20px;
  padding: 5px;
  margin-top: 12px;

 

  font-family: latoBold;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  letter-spacing: -0.005em;

  color: #959595;
}
.completebar{
  display: flex;
  width: 95%;
  
  margin-top: 20px;
  border: 1.3193px solid rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}
.completebarp{
  text-align: center;
  font-size: 16px;
  color: #959595;
  border: none;
  
  margin: 0 auto;
  padding: 5px;
}
.completebarptwo{

  margin: 0 auto;
  padding: 5px;
  margin-left: 10px;
 
  font-size: 16px;
  color: #FFFFFF;
  text-align: start;

}


@media only screen and (max-width: 1000px) {
  

  .lodgn {
    
    left: 16%;
  
  }

  .current {
    top: 146.95px;
  }

  .Ongoing {
    top: 206px;
  }

  .Previous {
    top: 266px;
  }

  .Reports {
    top: 326px;
  }

 

  .helpdesk {
    top: 87%;
    font-size: 14.5894px;
    line-height: 21px;
  }

  .helpno {

    top: 90%;

    font-size: 14.5894px;

    line-height: 21px;

  }
  .rectoneheading {
    
    height: 35px;
    /* background-color: aqua; */
    width: auto;
    /* margin-left: 10px; */
    font-size: 18px;
  }
  .rectoneheadingdash {
    margin-left: 8px;
  }
  .rectonep {
    height: 20px;
    margin-top: 10px;
    /* margin-left: 10px; */
    padding: 5px;
    font-size: 12px;
  }
  .rectonepp {
    height: 20px;
    margin-top: 22px;
    padding: 5px;
    font-size: 12px;
   
  }
  .rectone {
    width: 100%;
    height: 75px;
    margin-top: 15px;
  }
.request{
  font-size: 24px;
}
}


@media only screen and (max-width: 800px) {
  .current, .Ongoing, .Previous, .Reports {
    
    height: 40px;
    left: 12px;
    /* background-color: aqua; */

    border-bottom: 1px solid rgba(0, 0, 0, 0.29);
    /* font-family: 'Poppins'; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: -0.02em;
    
  }
  .request{
    font-size: 18px;
  }


  .current {
    top: 136.95px;
  }

  .Ongoing {
    top: 196px;
  }

  .Previous {
    top: 256px;
  }

  .Reports {
    top: 316px;
  }


  .helpdesk {

    top: 87%;

    font-size: 14.5894px;

    line-height: 21px;

  }

  .helpno {

    top: 90%;

    font-size: 14.5894px;

    line-height: 21px;

  }
  .rectoneheading {
    
    height: 25px;
    /* background-color: aqua; */
    width: auto;
    /* margin-left: 5px; */
    font-size: 14px;
  }
  .rectoneheadingdash {
    margin-left: 8px;
  }
  .rectonep {
    height: 18px;
    margin-top: 5px;
    
    font-size: 10px;
  }
  .rectonepp {
    /* font-size: 6px; */
    height: 18px;
    margin-top: 15px;
    /* padding: 5px; */
    font-size: 10px;
   
   
  }
  .rectone {
    width: 100%;
    height: 63px;
    margin-top: 15px;
  }
  .rectoneheadingdash {
    height: 25px;
   
    margin-left: 3px;
   
    font-size: 14px;
    
  }
  .completebarp{
   
    font-size: 12px;
    
  }
}






@media only screen and (max-width: 600px) {
  .current, .Ongoing, .Previous, .Reports {

    width: 85%;
    height: 40px;
    left: 9px;
 

    border-bottom: 1px solid rgba(0, 0, 0, 0.29);
    /* font-family: 'Poppins'; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    /* font-size: 12.8024px; */
    line-height: 34px;
    letter-spacing: -0.02em;
   
  }
  .request{
    font-size: 18px;
  }

  

  .current {
    top: 126.95px;
  }

  .Ongoing {
    top: 186px;
  }

  .Previous {
    top: 246px;
  }

  .Reports {
    top: 306px;
  }


  .helpno {

    top: 90%;

    font-size: 14.5894px;

    line-height: 21px;

  }
  .rectoneheading {
    
    height: 25px;
    /* background-color: aqua; */
    width: auto;
    /* margin-left: 5px; */
    font-size: 12px;
  }
  .rectoneheadingdash {
    /* padding-left: 10px; */
    margin-left: 8px;
  }
  .rectonep {
    height: 10px;
    margin-top: 5px;
    /* margin-left: 5px; */
    padding: 2px;
    font-size: 8px;
  }
  .rectonepp {
    /* font-size: 6px; */
    height: 10px;
    margin-top: 18px;
    /* padding: 5px; */
    font-size: 8px;
    
  }
  .rectone {
    width: 100%;
    height: 63px;
    margin-top: 15px;
    padding: 0px;
 
  }
  .rectoneheadingdash {
    height: 25px;
   
    margin-left: 3px;
   
    font-size: 14px;
    
  }
  .completebarp{
   
    font-size: 10px;
    
  }
  .rectonemain{
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 20px;
    
  }
  .recttwomain{
    margin-top: 10px;
    margin: 0 auto;
    padding: 5px;
    width: 95%;
    border-radius: 20px;
  }
}